/* λ…Έν†  μ‚°μ¤ */
@font-face {
    font-family: "Noto Sans KR";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/NotoSansKR/NotoSans-Thin.eot?#iefix") format("eot"),
    url("../fonts/NotoSansKR/NotoSans-Thin.otf") format("opentype"),
    url("../fonts/NotoSansKR/NotoSans-Thin.woff") format("woff"),
    url("../fonts/NotoSansKR/NotoSans-Thin.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/NotoSansKR/NotoSans-Light.eot?#iefix") format("eot"),
    url("../fonts/NotoSansKR/NotoSans-Light.otf") format("opentype"),
    url("../fonts/NotoSansKR/NotoSans-Light.woff") format("woff"),
    url("../fonts/NotoSansKR/NotoSans-Light.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/NotoSansKR/NotoSans-DemiLight.eot?#iefix") format("eot"),
    url("../fonts/NotoSansKR/NotoSans-DemiLight.otf") format("opentype"),
    url("../fonts/NotoSansKR/NotoSans-DemiLight.woff") format("woff"),
    url("../fonts/NotoSansKR/NotoSans-DemiLight.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/NotoSansKR/NotoSans-Regular.eot?#iefix") format("eot"),
    url("../fonts/NotoSansKR/NotoSans-Regular.otf") format("opentype"),
    url("../fonts/NotoSansKR/NotoSans-Regular.woff") format("woff"),
    url("../fonts/NotoSansKR/NotoSans-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/NotoSansKR/NotoSans-Medium.eot?#iefix") format("eot"),
    url("../fonts/NotoSansKR/NotoSans-Medium.otf") format("opentype"),
    url("../fonts/NotoSansKR/NotoSans-Medium.woff") format("woff"),
    url("../fonts/NotoSansKR/NotoSans-Medium.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/NotoSansKR/NotoSans-Bold.eot?#iefix") format("eot"),
    url("../fonts/NotoSansKR/NotoSans-Bold.otf") format("opentype"),
    url("../fonts/NotoSansKR/NotoSans-Bold.woff") format("woff"),
    url("../fonts/NotoSansKR/NotoSans-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/NotoSansKR/NotoSans-Black.eot?#iefix") format("eot"),
    url("../fonts/NotoSansKR/NotoSans-Black.otf") format("opentype"),
    url("../fonts/NotoSansKR/NotoSans-Black.woff") format("woff"),
    url("../fonts/NotoSansKR/NotoSans-Black.woff2") format("woff2");
  }
  

